In [1]:
import pandas as pd

In [3]:
#para obtener nombre de usuario
corte_sept = pd.read_csv('../data/TECNICOS_NOMBRE.csv')

In [4]:
#para obtener el nombre del programa al que pertenece c/u de los tecnicos
relacion_tecnicos  = pd.read_csv('../data/tecnicos_programa.csv')

In [5]:
#depuramos vacios
relacion_tecnicos.dropna(subset='Nombre del técnico',inplace=True)

In [6]:
relacion_tecnicos.shape

(205, 5)

In [7]:
relacion_tecnicos['Nombre del técnico'].nunique()

200

In [8]:
relacion_tecnicos.shape

(205, 5)

In [9]:
relacion_tecnicos.drop_duplicates(subset='Nombre del técnico',inplace=True)

In [10]:
relacion_tecnicos.shape

(200, 5)

In [11]:
relacion_tecnicos.head(2)

,Nombre del formador,Región de atención,Programa,Nombre del técnico,Municipio
0,Filadelfo Ortíz López,Mixteca,Abasto Seguro de Maíz,Iveth Lopez Ramirez,"Sinaxtla, San Juan Sayultepec,"
1,Filadelfo Ortíz López,Mixteca,Abasto Seguro de Maíz,Griselda Cruz Guzman,"teotongo, Santa Maria Chachoapan, Yucuita"

In [12]:
#corregimos nombre de regiones. Deben ser solo 8
relacion_tecnicos['Región de atención'].replace({'Sierra de Flores Magon ':'Cañada',
                                                 'sierra de Flores Magon ':'Cañada',
                                                 'Sierra Sur_Sola de Vega':'Sierra Sur',
                                                 'Costa ':'Costa'
                                                 },
                                        inplace=True)

/tmp/ipykernel_15423/2172902827.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  relacion_tecnicos['Región de atención'].replace({'Sierra de Flores Magon ':'Cañada',

In [ ]:
# corte_sept.info()

In [13]:
#subset del corte
tecnicos_accounts =  corte_sept[['Bitacora.registrada.por','NOMBRE DEL USUARIO']]

In [14]:
tecnicos_accounts.shape

(241, 2)

In [15]:
# tecnicos_accounts.info()
#  1   NOMBRE DEL USUARIO       37255 non-null  object

In [16]:
#solo cuentas unicas
tecnicos_accounts.drop_duplicates(inplace=True)

/tmp/ipykernel_15423/1111414464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnicos_accounts.drop_duplicates(inplace=True)

In [17]:
tecnicos_accounts['NOMBRE DEL USUARIO'].isna().sum()
#45

11

In [18]:
tecnicos_accounts.head(2)

  Bitacora.registrada.por       NOMBRE DEL USUARIO
0      AbrahamTejeda_PSUR  Abraham Tejeda Galmich
1          AidaLopez_PSUR          Aida López Cruz

In [19]:
tecnicos_accounts.info()
"""
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype 
---  ------                   --------------  ----- 
 0   Bitacora.registrada.por  241 non-null    object
 1   NOMBRE DEL USUARIO       196 non-null    object
dtypes: object(2)
memory usage: 5.6+ KB
 """

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Bitacora.registrada.por  241 non-null    object
 1   NOMBRE DEL USUARIO       230 non-null    object
dtypes: object(2)
memory usage: 3.9+ KB

'\nData columns (total 2 columns):\n #   Column                   Non-Null Count  Dtype \n---  ------                   --------------  ----- \n 0   Bitacora.registrada.por  241 non-null    object\n 1   NOMBRE DEL USUARIO       196 non-null    object\ndtypes: object(2)\nmemory usage: 5.6+ KB\n '

In [20]:
tecnicos_accounts.iloc[92]
# ErikaOrduÃ±a_PSUR

Bitacora.registrada.por        IvethLopez_PSUR
NOMBRE DEL USUARIO         Iveth Lopez Ramirez
Name: 92, dtype: object

In [21]:
tecnicos_accounts.head(2)

  Bitacora.registrada.por       NOMBRE DEL USUARIO
0      AbrahamTejeda_PSUR  Abraham Tejeda Galmich
1          AidaLopez_PSUR          Aida López Cruz

In [48]:
tabla_usuarios = pd.read_csv('../data/usuarios_3.csv')

In [49]:
tabla_usuarios=tabla_usuarios[['id','user_name','first_name','last_name']]

In [54]:
tabla_usuarios[tabla_usuarios['user_name'].duplicated(keep=False)].sort_values(by='user_name')

,id,user_name,first_name,last_name
283,3b737a8c-2e9b-bd3d-e8c7-624ce524e2a7,AdrianPerez_PAC,Adrian,Perez Villarreal
1745,users-2022-0406-0743-RewRZ-h2AwA,AdrianPerez_PAC,Adrian,Perez Villarreal
342,41b0e517-4e24-942c-e049-624ce5646174,AngelCota_PAC,Angel Guadalupe,Cota Corral
1747,users-2022-0406-0744-Qe9Db-EZ1YI,AngelCota_PAC,Angel Guadalupe,Cota Corral
199,2eaed1a6-8195-7bc2-b4e6-624cdffa2efc,AnicetodelaPuente_PAC,Aniceto,de la Puente Llanos
...,...,...,...,...
1175,ac9a1d6d-1d1c-bb28-47a7-5c4f647f3f8e,andrea,Andrea,Gardeazabal
685,6bf1af1b-d5c6-55e1-33de-5c4f63226930,tecnicobimbo2,tecnicobimbo2,BIMBO
1065,9b9395fa-cfeb-827e-9602-5c51c248d6fd,tecnicobimbo2,Emilio Fonseca,tecnicobimbo2
1248,b71537ac-4695-52db-f2ec-6164c44f1678,NaN,NaN,NaN
1499,dadf687d-9347-2565-3ed5-5e73d58ab344,NaN,NaN,NaN

In [ ]:
# tabla_usuarios.info()

In [24]:
tabla_usuarios.head(2)

,id,user_name,first_name,last_name
0,1,admin,NaN,Administrator
1,100b8d8d-1205-0735-765f-5e61830f8862,JesusAlarcon_Prodeter_Pcto,Jesus,Alarcón Alarcón

In [25]:
tabla_usuarios.shape

(2353, 4)

In [26]:
tabla_usuarios.user_name.nunique()

2285

In [27]:
# tabla_usuarios.drop_duplicates(subset='user_name',inplace=True)

In [28]:
tabla_usuarios.shape

(2286, 4)

In [29]:
tecnicos_accounts = tecnicos_accounts.merge(tabla_usuarios,how='left',left_on='Bitacora.registrada.por',right_on='user_name')

In [30]:
tecnicos_accounts.shape
#241

(241, 6)

In [31]:
tecnicos_accounts['full_name_tec'] = tecnicos_accounts['first_name'] +' '+ tecnicos_accounts['last_name']

In [32]:
tecnicos_accounts['NOMBRE DEL USUARIO']=tecnicos_accounts['NOMBRE DEL USUARIO'].where(tecnicos_accounts['NOMBRE DEL USUARIO'].notna(),tecnicos_accounts['full_name_tec'] )

In [33]:
tecnicos_accounts['id'].nunique()

241

In [34]:
tecnicos_accounts['NOMBRE DEL USUARIO'].nunique()

239

In [35]:
tecnicos_accounts.drop_duplicates(subset='NOMBRE DEL USUARIO',inplace=True)

In [36]:
tecnicos_accounts.shape
# 238

(239, 7)

In [ ]:
# tecnicos_accounts[tecnicos_accounts['NOMBRE DEL USUARIO'].duplicated(keep=False)]

In [37]:
relacion_tecnicos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 205
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombre del formador  200 non-null    object
 1   Región de atención   200 non-null    object
 2   Programa             200 non-null    object
 3   Nombre del técnico   200 non-null    object
 4   Municipio            199 non-null    object
dtypes: object(5)
memory usage: 9.4+ KB

In [38]:
#relacionamos los nombres de usuarios con el nombre de tecnico y el programa
programa = tecnicos_accounts.merge(relacion_tecnicos[['Nombre del técnico','Programa','Región de atención']],left_on='NOMBRE DEL USUARIO',right_on='Nombre del técnico',how='left')

In [39]:
programa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Bitacora.registrada.por  239 non-null    object
 1   NOMBRE DEL USUARIO       239 non-null    object
 2   id                       239 non-null    object
 3   user_name                239 non-null    object
 4   first_name               239 non-null    object
 5   last_name                239 non-null    object
 6   full_name_tec            239 non-null    object
 7   Nombre del técnico       175 non-null    object
 8   Programa                 175 non-null    object
 9   Región de atención       175 non-null    object
dtypes: object(10)
memory usage: 18.8+ KB

In [40]:
programa.to_csv('relacion_tecnicos_programa_eagrology.csv',index=False,encoding='1252')

### Eventos

In [ ]:
eventos= pd.read_csv('../data/Eventos_SEFADER_08Octubre2024.csv')

In [ ]:
eventos.info()

In [ ]:
eve=eventos.merge(programa[['Bitacora.registrada.por','Programa','Región de atención']],left_on='Creado por Usuario',right_on='Bitacora.registrada.por',how='left')

In [ ]:
eve.info()

In [ ]:
import numpy as np

In [ ]:
eve['Tipo de evento de capacitación'][0]

In [ ]:
eve.replace('(null)',np.nan,inplace=True)

In [ ]:
eve

In [ ]:
eve.isnull().sum()

In [ ]:
eve['Evento dirigido a'].unique()

In [ ]:
eve['Total de personas capacitadas'].sum()

In [ ]:
eve['tipo_cap_com'] = eve['Tipo de evento de capacitación'].combine_first(eve['Tipo de evento de comunicacion/difusion'])

In [ ]:
eve['tipo_cap_com'].isnull().sum()

In [ ]:
eve['tipo_cap_com'].hist()

In [ ]:
eve.Id_ReporteDeEvento.nunique()

In [ ]:
eve['Programa'].isnull().sum()

In [ ]:
eve['Región de atención'].fillna('Sin Identificar',inplace=True)

In [ ]:
eve['Programa'].fillna('Sin Identificar',inplace=True)

In [ ]:
eve['Programa'].hist()

In [ ]:
eve['Categoria del evento'].hist()

In [ ]:
eve['Categoria del evento'].hist()

In [ ]:
eve['Categoria del evento'].unique()

In [ ]:
# para la siguiente actualizacion
eve['Temas tratados / Tecnologias promovidas'].unique()

In [ ]:
import re

In [ ]:
def replace_chracter(x):
    text = re.sub('_',' ',x).title()
    return text

In [ ]:
eve['tipo_cap_com'] = eve['tipo_cap_com'].apply(replace_chracter)

In [ ]:
eve['Categoria del evento'] = eve['Categoria del evento'].apply(replace_chracter)

In [ ]:
eve.to_csv('../data/eventos_corte_sept.csv')